<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="sz.logger.conversions.ColoredLevel"/>
    <conversionRule conversionWord="coloredMsg" converterClass="sz.logger.conversions.ColoredMessage"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %coloredLevel [%logger] in [%thread] - %coloredMsg{com.sample}%n%xException{10}
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <logger name="App" level="DEBUG">
    </logger>

</configuration>
